h1 {
    margin-top: 50px;
    text-align: center;
}

.acordion-wrapper .acordion-body {
    height: 0;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
}

.acordion-wrapper .acordion-body img {
    align-self: center;
    padding: 1% 20%;
}

.acordion-wrapper label {
    cursor: pointer;
    background-color: #42f8d9;
    display: block;
    padding: 25px;
    width: 95%0%;
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
}

.aacordion-wrapper label:hover {
    color: #FFF;
}

.acordion-wrapper input {
    display: none;
}

.acordion-wrapper label:before {
    content: '\276F';
    float: right;
}

.acordion-wrapper input:checked+label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}

.acordion-wrapper input:checked+label+.acordion-body {
    height: auto;
    margin-top: -5px;
}

img {
    width: 350px;
}